
.mainBackground{
    background-image: linear-gradient(to right,#FD6537,#DF97C9);
    width:100%
}
div.headerText{
    width: 80%;
    margin-top: 100px;
    float: left;
}
h1{
    font-size: 2rem;
}
div.adminButton{
    width: 20%;
    float: left;
    margin-top: 150px;
}
input.adminBttn{
    width: 100px;
    height: 75px;
}
div.menu{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 200px;
}
h2.menu{
    width: 20%;
    text-align: center;
    font-size: 3rem;
    float: left;
}
a.menu{
    border: solid;
    padding: 5px;
}
div.content{
    width: 100%;
    margin-top: 30px;
}
div.contentleft{
    width: 70%;
    float: left;
}
div.content3rd{
    width: 30%;
    float: left;
}
div.marginTop{
    margin-top: 100px;
}
div.paginare{
    font-size: 30px;
    width: 100%;
    margin-top: 80px;
}
input.search{
    font-size: 20px;
    width: 80%;
}
h2.articles{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px
}
a.articles{
    padding: 20px;
    font-size: 25px;
}
input.send{
    height: 30px;
    width: 100px;
    margin-top: 50px
}
input.comment {
    width: 70%;
    height: 100px;
}
a{
    color: black;
}
h2.title{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}
p.author{
    text-align: right;
    margin-top: 50px;
}
p.date{
    text-align: right;
    margin-bottom: 80px;
}
.comments{
    margin-top: 50px;
    color: black;
    text-align: center;
}
.comments h2,p{
    margin-top: 40px;
}
.panellink{
    margin-top: 50px;
    margin-left: 20%;
}